body {
    display: flex;
    flex-direction: column;
}
.container{
    background-color: #1F2937;
}
.header {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    font-size: 20px;
   

}
.logo {
    margin-left: 500px;
    color: #F9FAF8;
}
.right-links {
    display: flex;
    gap: 20px;
    margin-top: 0px;
    margin-right: 50px;
    
    
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #F9FAF8;
}
.top {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 200px;
}
.title {
    font-size: xx-large;
}
.title , .content {
    color: #F9FAF8;
}
.content {
    font-size: small;
}